body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333745;
  font-family: "Roboto Mono", monospace;
  font-size: 30px;
  text-align: center;
  color: white;
}

#startButton {
  font-size: 30px;
  margin: 1rem;
  padding: 1rem;
  background-color: #fb7670;
  color: #333745;
  outline: none;
}

#timerDisplay {
  font-size: 80px;
}

.slideDisplay {
  font-size: 50px;
}
